<h2>{{@title}}</h2>
<LinkTo @route='circle-examples' class='button'>Circular examples</LinkTo>
<LinkTo @route='examples' class='button'>Rectangular examples</LinkTo>
<p>(TODO: clicking an example updates slider/box style values, conditional links
  and/or active states)</p>
<ul>
  {{#each @examples as |example|}}
    <li>
      <button
        type='button'
        {{on 'click' (fn this.showExample example)}}
      >{{example}}</button>
    </li>
  {{/each}}
</ul>